<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=This , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/reg.css">
</head>
<body>
    <h1>This is My Web Page</h1>
    <script src="/static/js/date1.js"></script>
<button type="button"
onclick="document.getElementById('demo').innerHTML = Date()">Click here to  display Date and Time.</button>

<p id="demo"></p>
</body>
</html>
